$bg-primary: #fdddd9;
$bg-secondary: #c784a9;
$bg-tertiary: #8e3877;
$shadow: #1d0c18;
$font-primary: #181818;
$font-secondary: #f9f1f7;

@mixin flex($dir, $justify, $align, $wrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
